<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'impressum')}">

<body>
<div class="backgrounddarker">
<h1 class="pl-5">Ein Blog wie kein Zweiter</h1>
</div>
<div class="backgrounddarker p-4">
    <p>Hallo meine Freunde des gepflegten Radsports. Freut uns sehr, dass Ihr euch hierher verirrt habt ;-) Die Ersteller Leif und Til bieten Euch hier eine Fülle an (un-)nützlichen Informationen rund um das Thema Drathesel. Wie so oft, ziehen sich Gegensätze an, daher bringt jeder Erfahrungen aus einer anderen Disziplin mit.
    </p>
    <p>Leif war die letzen Jahrzehnte ausgesprochen erfolgreicher Rennradfahrer und hat dies auch bis Sommer 2018 mit diversen Trophäen bewiesen. Der Abschied vom professionellen Umfeld des Leistungssports hin zum Leistungsprogrammieren war kein leichter. Jedoch hat dieser Branchenwechsel auch viel positives im Gepäck. Zu keiner Zeit waren Informatiker begehrter als jetzt.
    </p>
    <p>Til bewegte sich zu keiner Zeit im professionellen Rahmen. Seine Begeisteruung für Zweiräder fing in Kindesjahren an und mündete im frühen Jungendalter im Dirtjumping und Freeride. Durch den Motorradführerschein und eine Enduromaschine verlagerte sich das Interesse etwas zu Ungunsten der rein muskulären Fortbewegung. Erst im Sommer 2018 stand bei Til wieder ein Fahrrad in der Garage. Nach wie vor ist das schwere Gelände sein bevorzugter Spielplatz, diesmal jedoch mit einem Enduro E-Bike von Specialized.
    </p>
    <p>Leif und Til lernten sich im Spätsommer 2018 in der zweiten Java-Klasse der Academy kennen. Durch die sehr heterogege Zusammensetzung der Klasse wurden viele Freundschaften geschlossen und enorm viele einzigartige Erfahrungen gemacht. Da der Winter mit großen Schritten kommt sind selbst die morgentlichen Fahrten in die Academy nicht mehr möglich. Sobald sich die ersten Frühlingstage zeigen satteln die beiden sofort wieder auf ihre Bikes um und machen die Stadt unsicher.
    </p>
    <p>In diesem Sinne - RIDE ON!
    </p>
</div>
</body>
</html>
