<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'users')}">

<body>
<h2>Users</h2>

<div class="backgrounddarker col-md-8 offset-2 pb-3 pl-4">
    <table id="users">

        <thead>
        <tr>
            <th class="col-md-8 pt-2">Username</th>
            <th class="col-md-8 pt-2">Promote to admin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:if="${user.admin}" th:text="${'Admin'}">Admin</td>
            <td th:if="${!user.admin}">
                <form th:action="@{users/{id}/toAdmin(id=${user.id})}" method="post">
                    <button class="btn btn-outline-light" type="submit">make Admin</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>