<!DOCTYPE html>
<html lang="de" th:fragment="layout (template, menu)">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Webblog</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">
    <!--<link rel="stylesheet" href="/resources/css/fontawesome.css" type="text/css">-->
    <link rel="stylesheet" href="/resources/css/all.css">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
</head>
<body>
<div class="container-fluid gesamt my-md-3">
    <div th:fragment="header" class="img-fluid mx-auto d-block" id="banner">
    </div>
    <div th:replace="fragments/navigation::navigation">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1 th:text="${currentUser != null ? 'Hallo '+currentUser.username+' Willkommen zurück' : 'Willkommen zu unserem Blog'}"></h1>
            </div>
        </div>
    </div>

    <div id="content">
        <th:block th:include="${template}"/>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>