<!DOCTYPE html>
<html lang="de" th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Webblog</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">
    <!--<link rel="stylesheet" href="/resources/css/fontawesome.css" type="text/css">-->
    <link rel="stylesheet" href="/resources/css/all.css">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
</head>
<body>
<div class="container-fluid gesamt my-md-3">
    <div th:fragment="header" class="img-fluid mx-auto d-block" id="banner">
    </div>
    <div th:replace="fragments/navigation::navigation">
    </div>
    <div id="content" class="row py-lg-3 px-lg-4">
        <div class="col-lg-9 p-0 px-4">
            <th:block th:include="${template}"/>
        </div>
        <div class="col-lg-3 p-0 px-4">
            <div id="sponsoren" class="row py-lg-3 mx-md-0 mt-3 mt-lg-0 py-sm-1 px-lg-4 sticky-top sticky-offet">
                <th:block th:if="${activeCategories.size()>0}">
                    <div class="col-12 text-center mx-lg-4" id="categoriesLayout">
                        <div class="col-12 mt-2 text-center">
                            <h4>Kategorien</h4>
                        </div>
                        <div class="row">
                            <th:block th:each="activeCategory:${activeCategories}">


                                <!--Hier Logik aus FindByCategory und show categories-->
                                <th:block th:if="${activeCategory.articles.size()>0}">

                                    <div class="col-sm-6 col-lg-12 text-center">
                                        <a th:href="@{/{id}/showArticles(id=${activeCategory.getId()})}"
                                           class="btn btn-outline-light nooutline" type="submit"
                                           th:text="${activeCategory.getName()} + ' (' +  ${activeCategory.articles.size()} + ')'">Kategorie
                                        </a>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </th:block>
                <div class="col-12 text-center pt-3"><h4>Partner</h4></div>
                <div class="col-sm-6 col-lg-12 text-center">
                    <a href="http://www.bundeswehr.de" target="_blank"> <img
                            class="mx-auto sponsor"
                            src="/resources/images/bundeswehr.png"
                            alt="Bundeswehr"></a>
                </div>
                <div class="col-sm-6 col-lg-12 text-center">
                    <a href="http://www.maloja.de" target="_blank"> <img
                            class="mx-auto sponsor"
                            src="/resources/images/Maloja.png"
                            alt="Maloja"></a>
                </div>
                <div class="col-sm-6 col-lg-12 text-center">
                    <a href="http://pioneer-cyclesports.com/de/" target="_blank"> <img
                            class="mx-auto sponsor"
                            src="/resources/images/Pioneer_logo.png"
                            alt="Pioneer"></a>
                </div>
                <div class="col-sm-6 col-lg-12 text-center">
                    <a href="https://www.alpina-sports.com/de/" target="_blank"> <img
                            class="mx-auto sponsor"
                            src="/resources/images/Alpina%202016.png"
                            alt="Alpina"></a>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>