<nav th:fragment="navigation" class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" id="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar-toggler h1 border-0" data-toggle="collapse">Navigation</nav>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:fragment="menuItem (path,active,title,glyph)" class="nav-item"
                th:class="${active==menu ? 'nav-item active' : 'nav-item'}">
                <a th:href="@{__${path}__}" class="nav-link" th:text="${title}"><span class="sr-only">(current)</span>
                </a>
            </li>
            <li th:replace="::menuItem ('/','home','Artikel','home')">
            </li>
            <span th:if="${currentUser!=null}" class="nav-item">
                <span th:if="${currentUser.admin}">
                    <li th:replace="::menuItem ('/users','users','Benutzer','users')"></li>
                </span>
            </span>
            <span th:if="${currentUser!=null}" class="nav-item">
                <span th:if="${currentUser.admin}">
                    <li th:replace="::menuItem ('/article','newarticle','Neuer Beitrag','articles')"></li>
                </span>
            </span>
            <span th:if="${currentUser!=null}" class="nav-item">
                <span th:if="${currentUser.admin}">
                    <li th:replace="::menuItem ('/1/createCategory','newCategory','Neue Kategorie','categories')"></li>
                </span>
            </span>
            <li>
                <form th:if="${currentUser != null}" th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            </li>
            <li class="nav-item dropdown">
                <div th:if="${currentUser == null}">
                        <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </span>
                    <div id="dropdown-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div>
                            <div th:replace="login::login">Login</div>
                        </div>
                    </div>
                </div>
            </li>
            <span th:if="${currentUser==null}" class="nav-item">
                    <li th:replace="::menuItem ('/signup','signup','Signup','signup')"></li>

            </span>
            <li th:replace="::menuItem ('/impressum','impressum','Impressum','impressum')">
            </li>
        </ul>
    </div>
</nav>