<nav th:fragment="navigation" class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" id="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar-toggler h1 border-0" data-toggle="collapse">Navigation</nav>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:replace="fragments/navigationButton :: menuItem ('/','home','Artikel','home')">
            </li>
            <th:block th:if="${currentUser!=null}">
                <th:block th:if="${currentUser.admin}">
                    <li th:replace="fragments/navigationButton :: menuItem ('/users','users','Benutzer','users')"></li>
                </th:block>
            </th:block>
            <th:block th:if="${currentUser!=null}" class="nav-item">
                <th:block th:if="${currentUser.admin}">
                    <li th:replace="fragments/navigationButton :: menuItem ('/article','newarticle','Neuer Beitrag','articles')"></li>
                </th:block>
            </th:block>
            <th:block th:if="${currentUser!=null}" class="nav-item">
                <th:block th:if="${currentUser.admin}">
                    <li th:replace="fragments/navigationButton ::menuItem ('/1/createCategory','newCategory','Kategorien','categories')"></li>
                </th:block>
            </th:block>
            <li class="nav-item dropdown">
                <th:block th:if="${currentUser == null}">
                        <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </span>
                    <div id="dropdown-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div>
                            <div th:replace="login::login">Login</div>
                        </div>
                    </div>
                </th:block>
            </li>
            <th:block th:if="${currentUser==null}">
                <li th:replace="fragments/navigationButton :: menuItem ('/signup','signup','Signup','signup')"></li>

            </th:block>
            <li th:replace="fragments/navigationButton :: menuItem ('/impressum','impressum','Impressum','impressum')">
            </li>
            <li>
                <form th:if="${currentUser != null}" th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-light" type="submit">Logout</button>
                </form>
            </li>

        </ul>
    </div>
</nav>