<div th:fragment="showArticle">
    <div class="backgrounddarker">
        <!--Text created by User and Creation DateTime-->
        <div class="col-md-12 pt-2">
            <small th:text="'Erstellt von '+${article.getUser().username}+' am '+${#temporals.format(article.creationDateTime,'EEEE dd. MMMM yyyy, HH:mm:ss',#locale.GERMANY)}"></small>
        </div>
        <!--If text was edited later lastEditUser and lastEditTime-->
        <div class="col-md-12 pb-2" th:if="${article.lastEditUser!=null}">
            <small th:text="'Zuletz bearbeitet von '+${article.getLastEditUser().getUsername()}+' am '+${#temporals.format(article.lastEditedDateTime,'EEEE dd. MMMM yyyy, HH:mm:ss',#locale.GERMANY)}">
                Username
            </small>
        </div>
        <div class="col-12 py-3">
            <h1 th:text="${article.title}">Titel</h1>
        </div>
        <div style="word-wrap: break-word" class="col-12 py-2">
            <th:block th:if="${article.image!=null}">
                <img th:attr="id='image', class='rounded embed-responsive'"
                     th:src="@{'data:image/jpeg;base64,'+${article.image.getImageData()}}"/>
            </th:block>
            <p th:text="${article.text}">Text</p>
        </div>
    </div>
</div>