<div th:fragment="showArticle">
    <div class="col border rounded p-2">
        <div th:if="${currentUser!=null}">
            <div th:if="${currentUser.admin}">
                <a th:href="@{{id}/edit(id=${article.getId()})}"
                   class="btn btn-primary">Beitrag bearbeiten</a>
                <form th:action="@{{articleId}/delete(articleId=${article.id})}"
                      method="post">
                    <button class="btn btn-primary" type="submit">Beitrag löschen</button>
                </form>
            </div>
        </div>
        <div>
            <h1 th:text="${article.title}">Titel</h1>
        </div>
        <div>
            <p th:text="${article.text}">Text</p>
        </div>
        <div class="container p-0">
            <div class="row">
                <!--Text created by User and Creation DateTime-->
                <div>
                    <small class="col-md-6" th:text="'Erstellt von '+${article.getUser().username}"></small>
                    <small class="col-md-6 text-right"
                           th:text="${#temporals.format(article.creationDateTime,'EEEE dd. MMMM yyyy, HH:mm:ss',#locale.GERMANY)}">
                        Zeit
                    </small>
                </div>
                <!--If text was edited later lastEditUser and lastEditTime-->
                <div th:if="${article.lastEditUser!=null}">
                    <small class="col-md-6"
                           th:text="'Zuletz bearbeitet von '+${article.getLastEditUser().getUsername()}"></small>
                    <small class="col-md-6 text-right"
                           th:text="${#temporals.format(article.lastEditedDateTime,'EEEE dd. MMMM yyyy, HH:mm:ss',#locale.GERMANY)}">
                        Zeit
                    </small>
                </div>
            </div>
            <div th:replace="~{fragments/newCommentButton :: newCommentButton}"></div>
            <!--Fragment to show the Categories associated with the article-->
            <div th:replace="~{category/showCategories :: categories}"></div>
        </div>
    </div>
</div>