<!DOCTYPE html>
<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'newCategory')}">
<body>
<div class="col-md-8 offset-md-2">
    <div class="row backgrounddarker px-md-4 mx-md-0 py-3 mt-md-3 mb-md-5 justify-content-center">
        <h3 class="px-3"><span>Kategorie erstellen</span>
        </h3>

        <form th:object="${category}" method="post">
            <div class="container-fluid">
                <div class="row d-flex">
                    <div class="col-md-10">
                        <div th:replace="~{fragments/inputField :: input ('Kategorie', 'name', 'text')}"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="submit">Speichern</button>
                    </div>
                </div>
            </div>
        </form>
        <form>
            <div class="row" th:each="allCategory : ${categories}">
                <div class="col-md-6 offset-md-2" th:text="${allCategory.name}"></div>
                <div class="col-md-2">
                    <div class="btn-group" role="group" aria-label="Category Control">
                        <a th:if="${allCategory.isActive()}" th:href="@{setActive/{id}(id=${allCategory.id})}"
                           class="btn btn-primary">Aktiv</a>
                        <a th:if="${!allCategory.isActive()}" th:href="@{setActive/{id}(id=${allCategory.id})}"
                           class="btn btn-primary">Deaktiviert</a>
                        <a th:href="@{delete/{id}(id=${allCategory.id})}"
                           class="btn btn-primary">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
