<!DOCTYPE html>
<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'newCategory')}">
<body>
<div class="col-md-8 offset-md-2">
    <div class="row backgrounddarker px-md-4 mx-md-0 py-3 mt-md-3 mb-md-5 justify-content-center">
        <h3 class="px-3"><span>Kategorie erstellen</span>
        </h3>
    </div>
</div>
<form th:object="${category}" method="post">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-md-10">
                <div th:replace="~{fragments/inputField :: input ('Kategorie', 'name', 'text')}"/>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit">Speichern</button>
            </div>
        </div>
    </div>
</form>
<div class="container-fluid">
    <form>
        <div class="row" th:each="allCategory : ${categories}">
            <div class="col-md-6 offset-md-2" th:text="${allCategory.name}"></div>
            <div class="col-md-2">
                <div class="btn-group" role="group" aria-label="Category Control">
                    <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
                    <!--<a th:href="@{edit/{id}(id=${allCategory.id})}" type="button" class="btn btn-primary"-->
                    <!--data-toggle="modal" data-target="#exampleModal"-->
                    <!--th:attr="data-target='#editCategory'+${allCategory.id}">-->
                    <!--Edit-->
                    <!--</a>-->

                    <!--&lt;!&ndash; Modal &ndash;&gt;-->
                    <!--<div class="modal fade" th:attr="id='editCategory'+${allCategory.id}" tabindex="-1" role="dialog"-->
                    <!--aria-labelledby="exampleModalLabel"-->
                    <!--aria-hidden="true">-->
                    <!--<div class="modal-dialog" role="document">-->
                    <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                    <!--<h5 style="color: black" class="modal-title" id="exampleModalLabel"-->
                    <!--th:text="'Kategorie '+${allCategory.name}+' bearbeiten'">Kategorie-->
                    <!--bearbeiten</h5>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                    <!--<form th:action="@{edit/{id}(id=${allCategory.id})}"-->
                    <!--th:object="${'editCategory'+${allCategory.id}}"-->
                    <!--class="form-horizontal" method="post">-->
                    <!--<input th:replace="~{fragments/inputField :: input ('Kategorie', 'name', 'text')}"/>-->


                    <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close-->
                    <!--</button>-->
                    <!--<button type="submit"-->
                    <!--class="btn btn-primary">Kommentar speichern-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->


                    <a th:if="${allCategory.isActive()}" th:href="@{setActive/{id}(id=${allCategory.id})}"
                       class="btn btn-primary">Aktiv</a>
                    <a th:if="${!allCategory.isActive()}" th:href="@{setActive/{id}(id=${allCategory.id})}"
                       class="btn btn-primary">Deaktiviert</a>
                    <a th:href="@{delete/{id}(id=${allCategory.id})}"
                       class="btn btn-primary">
                        <i class="fas fa-trash-alt"></i>
                    </a>


                    <!--<th:block th:if="${currentUser!=null}">-->
                    <!--<th:block th:if="${currentUser.admin}">-->
                    <!--<a th:href="@{{id}/edit(id=${article.getId()})}"-->
                    <!--class="btn btn-primary"><i class="fas fa-edit"></i></a>-->
                    <!--<button class="btn btn-primary" type="submit"><i class="fas fa-trash-alt"></i>-->
                    <!--</button>-->
                    <!--</th:block>-->
                    <!--</th:block>-->
                </div>
            </div>
        </div>
    </form>
</div>


</body>
</html>
