<!DOCTYPE html>
<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'newCategory')}">
<body>
<h1>Kategorie erstellen</h1>
<form th:object="${category}" method="post">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-md-10">
                <div th:replace="~{fragments/inputField :: input ('Kategorie', 'name', 'text')}"/>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit">Speichern</button>
            </div>
        </div>
    </div>
</form>
<div class="container-fluid">
    <form>
        <div class="row" th:each="allCategory : ${categories}">
            <div class="col-md-6 offset-md-2" th:text="${allCategory.name}"></div>
            <div class="col-md-2">
                <div class="btn-group" role="group" aria-label="Category Control">
                    <a th:href="@{setActive/{id}(id=${allCategory.getId()})}"
                       class="btn btn-primary">
                        <i th:if="${allCategory.isActive()}" class="fas fa-history"></i>
                        <i th:if="${!allCategory.isActive()}" class="fas fa-youtube"></i>
                    </a>


                    <!--<th:block th:if="${currentUser!=null}">-->
                    <!--<th:block th:if="${currentUser.admin}">-->
                    <!--<a th:href="@{{id}/edit(id=${article.getId()})}"-->
                    <!--class="btn btn-primary"><i class="fas fa-edit"></i></a>-->
                    <!--<button class="btn btn-primary" type="submit"><i class="fas fa-trash-alt"></i>-->
                    <!--</button>-->
                    <!--</th:block>-->
                    <!--</th:block>-->
                </div>
            </div>
        </div>
    </form>
</div>


<!--<tr th:each="allCategory : ${categories}">-->
<!--<td th:text="${allCategory.name}"></td>-->
<!--<td th:if="${user.admin}" th:text="${'Admin'}">Admin</td>-->
<!--<td th:if="${!user.admin}">-->
<!--<form th:action="@{users/{id}/toAdmin(id=${user.id})}" method="post">-->
<!--<button class="btn btn-primary" type="submit">make Admin</button>-->
<!--</form>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->


</body>
</html>
