<!--<!DOCTYPE html>-->
<!--<html lang="de" xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->
<!--<h2>-->
    <!--&lt;!&ndash;<th:block th:if="${comment['new']}">New </th:block>&ndash;&gt;-->
    <!--Neuer Kommentar-->
<!--</h2>-->
<!--<th:block th:fragment="createComment">-->
    <!--<form th:object="${newcomment}" class="form-horizontal" method="post">-->
        <!--&lt;!&ndash;<input type="hidden" name="id" th:value="*{id}" />&ndash;&gt;-->
        <!--<input th:replace="~{fragments/inputField :: input ('Kommentar', 'commenttext', 'textarea')}"/>-->

        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<button-->
                        <!--class="btn btn-default" type="submit" th:text="${'Kommentar senden'}">Add Comment-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</th:block>-->

<!--</body>-->
<!--</html>-->