<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webblog</title>
</head>
<body>
<h1>


    <th:block th:text="${currentUser != null ? currentUser.username : 'Unbekannter'}"></th:block>
</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6" th:each="article: ${articles}">
            <div>
                <h1 th:text="${article.title}">Titel</h1>
                <span th:text="'Erstellt von '+${article.getUser().username}"></span>
            </div>
            <div>
                <p th:text="${article.text}">Text</p>
            </div>
            <div>
                <small th:text="${article.getCreationDateTime()}">Zeit</small>
            </div>
        </div>
    </div>
</div>

<div><a href="/article">Beitrag schreiben</a></div>
<div th:if="${currentUser == null}">
    <a href="/login">Login</a> - <a href="/signup">Signup</a>
</div>
<div th:if="${currentUser != null}">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>