<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webblog</title>
</head>
<body>
<h1>
    <th:block th:each="greeting: ${greetings}" th:text="${greeting.text + ', '}"></th:block>
    <th:block th:text="${currentUser != null ? currentUser.username : 'Unbekannter'}"></th:block>
    !
</h1>
<div><a href="/article">Create Greeting</a></div>
<div th:if="${currentUser == null}">
    <a href="/login">Login</a> - <a href="/signup">Signup</a>
</div>
<div th:if="${currentUser != null}">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>