<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:fragment="login" th:action="@{/login}" method="post" th:object="${login}">
    <div class="text-right">
        <div class="white">
            <input th:replace="~{fragments/inputField :: input ('Username', 'username', 'text')}"/>
            <input th:replace="~{fragments/inputField :: input ('Passwort', 'password', 'password')}"/>
        </div>
        <button class="btn btn-primary mx-3 mb-1" type="submit">Login</button>
    </div>
</form>
</body>
</html>