<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:fragment="login" th:action="@{/login}" method="post" th:object="${login}">
    <input th:replace="~{fragments/inputField :: input ('Username', 'username', 'text')}"/>
    <input th:replace="~{fragments/inputField :: input ('Password', 'password', 'password')}"/>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
</body>
</html>