<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'newarticle')}">
<body>
<h1>Beitrag erstellen</h1>
<form method="post">
    Titel: <input type="text" th:field="${article.title}"><br/>
    Text: <textarea type="text" th:field="${article.text}"></textarea><br/>
    <button type="submit" name="addarticle">Abschicken</button>
    Titel: <input type="text" th:field="${category.name}"><br/>
    <button type="submit" name="addcategory">Kategorie speichern</button>
</form>
</body>
</html>
