<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'newarticle')}">
<body>
<h1>Beitrag bearbeiten</h1>


<form method="post" th:object="${article}">
    <input th:replace="~{fragments/inputField :: input ('Titel', 'title', 'text')}"/>
    Text: <textarea type="text" th:field="*{text}"></textarea><br/>
    <button type="submit" name="addarticle">Speichern</button>
</form>
<form th:action="@{/login}" method="post" th:object="${category}">
    <input th:replace="~{fragments/inputField :: input ('Kategorie', 'name', 'text')}"/>
    <button type="submit" name="addcategory">Kategorie speichern</button>
</form>
<br>
Kategorien des Artikels
<div class="row" th:each="categoryArticle:${article.getCategories()}">
    <!--Add category button just shown if User is Admin or his own comment-->
    <div th:if="${currentUser != null}">
        <div th:if="${currentUser.admin OR currentUser.id == comment.user.id}">
            <form th:action="@{deleteCategory/{categoryId}(categoryId=${categoryArticle.getId()})}"
                  method="post">
                <button class="btn btn-primary" type="submit" th:text="${categoryArticle.getName()}">Kategorie</button>
            </form>
        </div>
    </div>
</div>
<br>
Alle Kategorien
<div class="row" th:each="category1:${categories}">
    <!--Add category button just shown if User is Admin or his own comment-->
    <div th:if="${currentUser != null}">
        <div th:if="${currentUser.admin OR currentUser.id == comment.user.id}">
            <form th:action="@{addCategory/{categoryId}/add(categoryId=${category1.getId()})}"
                  method="post">
                <button class="btn btn-primary" type="submit" th:text="${category1.getName()}">Kategorie</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
