<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'newarticle')}">
<body>
<div class="row">
    <div class="col-md-10 offset-md-1 backgrounddarker my-2 py-3 px-md-2">
        <div class="col-12"><h3>Beitrag bearbeiten</h3></div>
        <form method="post" th:object="${article}">

            <input th:replace="~{fragments/inputField :: input ('Titel', 'title', 'text')}"/>
            <input th:replace="~{fragments/inputField :: input ('Text', 'text', 'textarea')}"/>
            <div class="col-12 pb-2 text-right">
                <button class="btn btn-outline-light" type="submit" name="addarticle">Speichern</button>
            </div>
        </form>

        <th:block th:if="${currentUser != null}">
            <th:block th:if="${currentUser.admin}">
                <div class="row px-3">
                    <div class="col-md-6 pt-4 pt-md-2">Ausgewählte Kategorien
                        <div class="col-12 pl-0">
                            <th:block th:each="categoryArticle:${article.getCategories()}">
                                <!--Add category button just shown if User is Admin or his own comment-->
                                <form class="pt-2 d-inline"
                                      th:action="@{deleteCategory/{categoryId}(categoryId=${categoryArticle.getId()})}"
                                      method="post">
                                    <button class="btn mt-2 btn-outline-light" type="submit">
            <span th:text="${categoryArticle.name+'  '}">Kategorie
            </span>
                                        <i class="fas fa-times-circle"></i>
                                    </button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                    <div class="col-md-6 pt-4 pt-md-2 text-md-right text-left">Verfügbare Kategorien
                        <div class="col-12 pr-0">
                            <th:block th:each="category1:${categories}">
                                <!--Add category button just shown if User is Admin or his own comment-->
                                <form class="pt-2 d-inline"
                                      th:action="@{addCategory/{categoryId}/add(categoryId=${category1.id})}"
                                      method="post">
                                    <button class="btn mt-2 btn-outline-light" type="submit">
            <span th:text="${category1.name}+'  '">Kategorie
            </span>
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                </div>
            </th:block>
        </th:block>
    </div>
</div>
</form>
</body>
</html>
