<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'newarticle')}">
<body>
<h1>History</h1>
<div th:replace="fragments/showArticle :: showArticle">
</div>
<div class="border" th:each="oldArticle:${oldArticles}">
    <h3 th:text="${oldArticle.title}">Titel</h3>
    <p th:text="${oldArticle.text}">Text</p>
    <div class="d-flex">
        <div class="ml-auto">
            <small th:text="${'Bearbeitet von '+oldArticle.user.username}"></small>
            <br/>
            <small th:text="${#temporals.format(oldArticle.savedDateTime,'EEEE dd. MMMM yyyy, HH:mm:ss',#locale.GERMANY)}"></small>
        </div>
    </div>
</div>
</body>
</html>
