<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<body>
<div class="row backgrounddarker px-md-4 mx-md-0 py-3 mt-md-3 mb-md-5 justify-content-center">
    <h1 class="px-3"><span
            th:text="${'Die History des Artikels |' +article.title+'|'}">Text</span>
    </h1>
</div>
<div th:replace="fragments/showArticle :: showArticle">
</div>
<div class="backgrounddarker mt-3" th:each="oldArticle:${oldArticles}">
    <!--Text created by User and Creation DateTime-->
    <div class="col-md-12 pt-2">
        <small th:text="'Bearbeitet von '+${oldArticle.user.username}+ ' am '+${#temporals.format(oldArticle.savedDateTime,'EEEE dd. MMMM yyyy, HH:mm:ss',#locale.GERMANY)}"></small>
    </div>
    <div class="col-12 py-3">
        <h1 th:text="${oldArticle.title}">Titel</h1>
    </div>
    <div style="word-wrap: break-word" class="col-12 py-2">
        <p th:text="${oldArticle.text}">Text</p>
    </div>
</div>
</body>
</html>
